.Services_cards{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap:30px;
}

.Services_cards .Service_card{
    padding: 30px 25px;
    border: 1px solid transparent;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap:5px;
    background-color: rgba(131,131,131,0.05);
    transition: .6s;
}
.Services_cards .Service_card:hover{
    border-color: #452205;
}
.Services_cards .Service_card i{
    font-size: 32px;
    color:#df8033;
    margin-bottom: 5px;
}
.Services_cards .Service_card:hover i{
    animation: Anim_shake 1s forwards linear;
}
.Services_cards .Service_card h3{
    font-size: 20px;
    margin-bottom: 10px;
}
.Services_cards .Service_card p{
        font-size: 12px;
        margin-top: 3px;
        font-family: 'poppins';
        color: rgba(131, 131, 131, 1);
}

@keyframes Anim_shake {
    0%,
    100%{
        transform: translateX(0);
    }

    10%,30%,50%,70%{
        transform: translateX(-10px);
    }

    20%,40%,60%{
        transform: translateX(10px);
    }
    80%{
        transform: translateX(8px);
    }

    90%{
        transform: translateX(-8px);
    }
}

@media screen and (max-width:1200px) {
    .Services_cards{
        grid-template-columns: repeat(2,1fr);
    }
}

@media screen and (max-width:768px) {
    .Services_cards{
        grid-template-columns: repeat(1,1fr);
    }
}