.swiper{
    width: 100% !important;
}

.amenities__item {
    display: flex;
    align-items: center;
    gap: 30px;
}
.amenities__item img{
    width: 60%;
    height: auto;
    border-top-right-radius: 200px;
    border-bottom-right-radius: 200px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.content{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.content h2{
    font-size: 80px;
    margin-left: -100px;
    -webkit-text-stroke: 1px #fff;
}

@media screen and (max-width:1200px) {
    .content h2 {
            font-size: 46px;
    }
}

@media screen and (max-width:900px) {
    .content h2 {
        font-size: 36px;
        margin-left: 0px;
    }
}

@media screen and (max-width:768px) {
    .amenities__item{
        flex-direction: column;
    }
    .amenities__item img{
        width: 100%;
    }
}