.about_wrapper {
    flex-direction: row;
}

.about_img {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about_img img {
    height: 90%;
    width: 90%;
}

.about_content {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 15px;
    color: #1e1e1e;

}

.about_content p {
    font-size: 18px;
}

.Cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-top: 20px;
}

.Cards p {
    height: 100px;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #9d7e54;
    border-radius: 25px;
    font-size: 35px;
    line-height: 35px;
    font-family: 'poppins';
    font-weight: 600;
    background-color: rgba(157, 126, 84, 0.05);

}

.Cards p:nth-child(2) {
    margin-top: 20px;
}

.Cards p span {
    font-size: 15px;
    display: block;
}

@media screen and (max-width:1400px) {
    .Cards {
        grid-template-columns: repeat(2, 1fr);
    }

    .about_content {
        padding: 0;
    }

    .about_img img {
        height: 80%;
        width: 100%;
    }
}

@media screen and (max-width:1200px) {

    .about_wrapper {
        flex-direction: column !important;
    }

    .about_img {
        width: 90%;
    }

    .about_img img {
        height: 100%;
        width: 100%;
    }

    .about_content {
        width: 100%;
    }

    .Cards {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width:768px) {
    .Cards {
        grid-template-columns: repeat(1, 1fr);
    }
}