.card_Container{
    perspective: 1000px;
}

.cards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
}

.card{
    width: 100%;
    height: 320px;
    position: relative;
    transform-style: preserve-3d;
    transform: rotateY(0deg);
    transition: .6s;
}

.card:hover{
    transform: rotateY(180deg);
}

.Card_front , .Card_Back{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}


.Card_front{
    background: url(./../../assets/1.jpg);
    justify-content: end;
}
.Card_front button{
    width: 100%;    
}

.Card_Back{
    background: url(./../../assets/1.jpg);
    transform: rotateY(180deg);
    z-index: 1;
}


.Card_Back::after{
    position: absolute;
    content: '';
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
    background-color: rgba(255, 255, 255, 0.4);
    border: 1px solid rgba(255, 255, 255, 1);
    backdrop-filter: blur(5px);
    border-radius: 12px;
    z-index: -1;
}

.Card_Back .price p{
    padding: 8px 12px;
    background-color: #1e1e1e;
    color: #fff;
    font-family: 'poppins';
}

.Card_Back .Card_content{
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.Card_Back .Card_content h3, .Card_Back .Card_content p{
    font-family: 'poppins';
}

.BookNow{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;

}
.BookNow i{
    height: 100%;
    width: 50px;
    background-color: #1e1e1e;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Card_front2 {
    background: url(./../../assets/2.jpg);

}

.Card_Back2 {
    background: url(./../../assets/2.jpg);

}

.Card_front3 {
    background: url(./../../assets/3.jpg);

}

.Card_Back3 {
    background: url(./../../assets/3.jpg);

}

.Card_front4 {
    background: url(./../../assets/4.jpg);

}

.Card_Back4 {
    background: url(./../../assets/4.jpg);

}

.Card_front5 {
    background: url(./../../assets/5.jpg);

}

.Card_Back5 {
    background: url(./../../assets/5.jpg);

}

.Card_front6 {
    background: url(./../../assets/6.jpg);

}

.Card_Back6 {
    background: url(./../../assets/6.jpg);
  
}

@media screen and (max-width:1100px) {
    .cards{
        grid-template-columns: repeat(2,1fr);
    }
}

@media screen and (max-width:768px) {
    .cards {
        grid-template-columns: repeat(1, 1fr);
    }
}